@font-face {
    font-family: Ubuntu; /* Гарнитура шрифта */
    src: url(../fonts/3976.ttf); /* Путь к файлу со шрифтом */
}
body{
    font-family: Ubuntu;
}

.first-page{
    overflow-y:  hidden;
}

.image-div{
    height: 400px;
    border: 2px double black;;
    z-index:10000;
}